<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>

<body>
    <div id="ALUMNOS">
        <div class="card-group">
            <div class="card" v-for="alumno in alumnos">
                <img class="card-img-top" :src="alumno.imagen" alt="imagen">
                <div class="card-body">
                    <h5 class="card-title">{{ alumno.nombre }}</h5>
                    <p class="card-text">{{ alumno.correo }}</p>
                    <p class="card-text">{{ alumno.legajo }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="app">
        <p>{{ alumnos[0].nombre }}</p>
        <div class="card" v-for="alumno in alumnos" style="width:400px">
            <img class="card-img-top" :src="img/avatar.png" alt="imagen" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{ alumno.nombre }}</h4>
                <p class="card-text">{{ alumno.correo }}</p>
                <p class="card-text">{{ alumno.legajo }}</p>
            </div>
        </div>
    </div>

    <script src="vueCards.js"></script>
    <link rel="stylesheet" href="mainVue.css" />
</body>

</html>